@charset "UTF-8";

/* Todas as versões */

/* Typical Device Breakpoint
-------------------------------
Dispositivos extra pequenos (ex: telefones): até 600px -  Extra small devices
Dispositivos pequenos (ex: tablets na vertical e telefones grandes): a partir de 600px - Small devices
Dispositivos médios (ex: tablets na horizontal): a partir de 768px - Medium devices
Dispositivos grandes (ex: laptops/desktops): a partir de 992px - Large devices
Dispositivos extra grandes (ex: laptops grandes e desktops): a partir de 1200px - Extra large devices
*/

@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    
    body {
        background: url(../imagens/back-print.jpg); /* Não tem como imprimir com background */
    }

    main {
        width: 90vw;
        border: 2px solid black;
    }

    main::after {
        content: 'Essa impressão foi feita através do site www.google.pt';
        text-decoration: overline;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: block; }
    img#pc { display: none; }
    img#tv { display: none; }
}

/* Dispositivos médios - Tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background: url(../imagens/back-tablet.jpg);
    }

    img#phone { display: none; }
    img#tablet { display: block; }
    img#print { display: none; }
    img#pc { display: none; }
    img#tv { display: none; }
}

/* Dispositivos grandes - Desktop */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background: url(../imagens/back-pc.jpg);
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#pc { display: block; }
    img#tv { display: none; }
}

/* Dispositivos extra grandes - Grandes ecrãs */
@media screen and (min-width: 1200px) {
    body {
        background: url(../imagens/back-tv.jpg);
    }

    main {
        width: 700px;
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#pc { display: none; }
    img#tv { display: block; }
}